@import url('config.css');

#map {
    height: 500px;
    width: 75%;
    margin-top: 20px;
    border-radius: 8px;
    border: 2px solid black;
    background-color: var(--branco-escuro);
    box-shadow: var(--box-shadow);  
}

#map-title {
    text-align: center;
}

.main-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.sidebar {
    width: 25%;
    background-color: var(--branco-escuro);
    padding: 20px;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    font-family: var(--font-style);
}

.sidebar h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: var(--roxo);
    font-family: var(--font-style);
}

.sidebar button {
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: rgba(20, 20, 20, 0.20);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: var(--transition);
    font-family: var(--font-style);
    text-align: left;
    text-decoration: none;
}

.sidebar button:hover {
    background-color: rgba(20, 20, 20, 0.40);
    transform: scale(1.1);
    transition: var(--transition);
}