:root {
    --roxo: #88005d;
    --branco-escuro: #f4f4f4;
    --amarelo: #ffa226;
    --azul-escuro: #051d1c;
    --background-color: #ffffff;
    --font-style:'Saira', sans-serif;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --transition: transform 0.2s ease, background-color 0.3s ease;
}