* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }  

.cabecalho {
    background-color: #88005d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px
  }
  
  .img-logo {
    width: 200px;
    height: auto;
  }
  
  .nav-conteiner {
    list-style: none;
    display: flex;
    font-size: 25px;
    gap: 25px;
    margin: 0;
    padding: 0;
  }
  
  .nav-conteiner li {
    color: white;
    font-weight: bold;
    font-family: sans-serif;
  }
  
  .nav-conteiner a {
    color: white;
    text-decoration: none;
  }
  
main {
    padding: 2rem;
}

.tela {
    display: none;
}

.ativa {
    display: block;
}
