<link rel="stylesheet" href="../style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Saira:wght@400;600;700&display=swap">

<header class="cabecalho">
    <button class="btn-mobile-menu" id="open-menu-btn" aria-label="Abrir Menu">
        <i class="fas fa-bars"></i>
    </button>

    <div class="logos-prin">
        <a href="..">
            <img class="img-wyden" src="../image-site/logo_wyden_branco.png" alt="logo-wyden">
        </a>
    </div>       

    <ul class="nav-conteiner-desktop">
       <li><a href=".." id="nav-index">Início</a></li>
        <li><a href="../mapa" id="nav-mapa">Mapa</a></li>
        <li><a href="../educacional" id="nav-educacional">Educacional</a></li>
        <li><a href="../games" id="nav-games">Games</a></li>
        <li><a href="../sobre" id="nav-sobre">Sobre</a></li>
        <li><a href="../eventos" id="nav-eventos">Eventos</a></li>
    </ul>
</header>

<aside class="sidebar-menu" id="sidebar-menu">
    <div class="sidebar-header">
        <span>Menu</span>
        <button class="btn-close-menu" id="close-menu-btn" aria-label="Fechar Menu">
            <i class="fas fa-times"></i>
        </button>
    </div>
    <ul class="nav-conteiner">
        <li><a href="..">Início</a></li>
        <li><a href="../mapa">Mapa</a></li>
        <li><a href="../educacional">Educacional</a></li>
        <li><a href="../games">Games</a></li>
        <li><a href="../sobre">Sobre</a></li>
        <li><a href="../eventos">Eventos</a></li>
    </ul>
</aside>

<div class="menu-overlay" id="menu-overlay"></div>